@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
    @*<script src="https://cdn.jsdeliver.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>*@
</head>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    @*<canvas id="myChart"></canvas>*@
    <canvas id="myChart" width="400" height="250"></canvas>
</div>


@section Scripts{

<script>

      var data = {
        labels: @Json.Serialize(Model.Revenue.Keys),
        datasets: [
            {
                backgroundColor : "rgba(255,99,132,0.7)",
                borderColor : "rgba(255,99,132,1)",
                data: @Json.Serialize(Model.Revenue),
                label:'Revenue-01'

            },
            {
                backgroundColor : "rgba(75,192,192,0.7)",
                borderColor : "rgba(75,192,192,1)",
                data: @Json.Serialize(Model.Revenue),
                label:'Revenue-02'
            }
        ]
    };

    var myChart = new Chart("myChart", {
      type: "bar",
      data: data,
      options: {
        autoDisplayLegend: true
      }
    });

    //setTimeout(function() {
    //  data.datasets[0].label = "Revenue1"
    //  //data.datasets[0].data=@Json.Serialize(Model.Revenue)
    //  data.datasets[1].label = "Revenue2"
    //  //data.datasets[1].data=@Json.Serialize(Model.Revenue)
    //  myChart.update()
    //}, 0)

</script>

}