@model LoginModel

@{
    ViewData["Title"] = "Access Denied";
}

<div class="">
    <h1 class="display-6">Access Denied!</h1>
    <p>You don't have authorization to view this page.</p>
</div>

<a class="btn btn-secondary btn-lg mb-1" asp-controller="Home" asp-action="Index">Back</a>
