@page
@using S07E04.IdentityApp.InvoiceManagementSystem.Authorization
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
    @*<script src="https://cdn.jsdeliver.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>*@
</head>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is our Invoice Management System (IMS)</p>
</div>

@if (User.IsInRole(Constants.InvoiceAdminRole))
{
    <div>
        <canvas id="myChart"></canvas>
    </div>
}


@section Scripts{

<script>

      var data = {
        labels: @Json.Serialize(Model.revenueSubmitted.Keys),
        datasets: [
            {
                backgroundColor : "rgba(63, 136, 197, 0.7)",
                borderColor : "rgba(63, 136, 197, 1)",
                cubicInterpolationMode:"monotone",
                data: @Json.Serialize(Model.revenueSubmitted),
                label:'Revenue Submitted'

            },
            {
                backgroundColor : "rgba(6, 214, 160, 0.7)",
                borderColor : "rgba(6, 214, 160, 1)",
                cubicInterpolationMode:"monotone",

                data: @Json.Serialize(Model.revenueApproved),
                label:'Revenue Approved'
            }
            ,
            {
                backgroundColor : "rgba(255,99,132,0.7)",
                borderColor : "rgba(255,99,132,1)",
                cubicInterpolationMode:"monotone",
                data: @Json.Serialize(Model.revenueRejected),
                label:'Revenue Rejected'
            }
        ]
    };

    var myChart = new Chart("myChart", {
      type: "line",
      data: data,
      options: {
        autoDisplayLegend: true
      }
    });

    //setTimeout(function() {
    //  data.datasets[0].label = "Revenue1"
    //  //data.datasets[0].data=@Json.Serialize(Model.revenueSubmitted)
    //  data.datasets[1].label = "Revenue2"
    //  //data.datasets[1].data=@Json.Serialize(Model.revenueSubmitted)
    //  myChart.update()
    //}, 0)

</script>

}
